# Uncomment each section to enable it.
# See the following link for more details
#   https://git-scm.com/docs/gitattributes

###############################################################################
# Set default behavior to automatically normalize line endings.
#   This ensures that all files that git considers to be text will have normalized (LF) line endings in the repository. 
#   The core.eol configuration variable controls which line endings git will use for normalized files in your working directory; 
#   the default is to use the native line ending for your platform, or lf if core.autolf is set.
###############################################################################
* text=auto

###############################################################################
# Denote files that will always have lf line endings
#   While git normally leaves file contents alone, it can be configured to normalize line endings when files are checked out. 
###############################################################################

## Basic file types
# *.xml      text eol=lf
# *.txt      text eol=lf

## Visual Studio file types
# *.sln      text eol=lf
# *.csproj   text eol=lf
# *.vbproj   text eol=lf
# *.fsproj   text eol=lf
# *.dbproj   text eol=lf
# *.vcxproj  text eol=lf
# *.vcxitems text eol=lf
# *.props    text eol=lf
# *.filters  text eol=lf
# *.h        text eol=lf
# *.c        text eol=lf
# *.cpp      text eol=lf
# *.cs       text eol=lf
# *.vb       text eol=lf

## PowerShell file types
# *.ps1      text eol=lf
# *.psm1     text eol=lf
# *.psd1     text eol=lf
# *.psc1     text eol=lf
# *.ps1xml   text eol=lf
# *.clixml   text eol=lf

## Denote all files that are truly binary and should not be modified.
# *.png      binary
# *.jpg      binary
# *.dll      binary
# *.exe      binary

###############################################################################
# Set default behavior for command prompt diff.
#   It can tell git whether to generate a textual patch for the path or to treat the path as a binary file. It can also affect what line is shown on the hunk 
#   header @@ -k,l +n,m @@ line, tell git to use an external command to generate the diff, or ask git to convert binary files to a text format before generating the diff.
#   Note: This is only used by command line
##############################################################################

# *.cs     diff=csharp